# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

# build 
build/

# Bỏ qua toàn bộ thư mục cài đặt và cache của Visual Studio
.vs/
Server/.vs/

# Bỏ qua các tệp cache IntelliSense và browse database
*.ipch
*.db
*.db-shm
*.db-wal

# Bỏ qua các thư mục build
[Dd]ebug/
[Rr]elease/
x64/
bin/
obj/

# Bỏ qua các tệp người dùng và tệp tạm
*.suo
*.user

# Bỏ qua các tệp thực thi và thư viện
*.exe
*.dll
*.obj
*.lib